<!-- Section: About Cause 4 -->
<div class="section  section--light  section__about-cause  section__about-cause--4">
	<div class="container">

		<!-- Section Title -->
		<div class="section-title  section-title--center">
			{{widget('content', 'about-cause-title', { content: '
				<h2>About our cause</h2>
				<h6>Quisque nisl diam, lobortis sed eros ut, dapibus aliquam arcu duis sodales ipsum eget turpis rutrum, nec efficitur quam pulvinar.</h6>
			'})|raw}}
		</div>

		<div class="row  row--gutters  row--sb  row--aic">
			<div class="col  col--third">
				<div class="card">
					<div class="card__image">
						{{widget('image', 'about-cause-image1', {
							'src': asset('images/content-image2.jpg')
						})|raw}}
					</div>
					<div class="card__text">
						{{widget('content', 'about-cause-col1-text', { content: '
							<h4>Heading title</h4>
							<p>Apibus aliquam arcus lorum. Duis sodales ipsum eget turpis rutrum, nec efficitur quam. Nullam egestas.</p>
						'})|raw}}
						<div class="button-group">
							<div class="button-group__button  button-group__button--plain">
								{{widget('button', 'about-cause--col1-button', {
									'text': 'Play now',
									'action': 'internal',
									'url': '/play'
								})|raw}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col  col--third">
				<div class="card">
					<div class="card__image">
						{{widget('image', 'about-cause-image1', {
							'src': asset('images/content-image3.jpg')
						})|raw}}
					</div>
					<div class="card__text">
						{{widget('content', 'about-cause-col2-text', { content: '
							<h4>Heading title</h4>
							<p>Apibus aliquam arcus lorum. Duis sodales ipsum eget turpis rutrum, nec efficitur quam. Nullam egestas.</p>
						'})|raw}}
						<div class="button-group">
							<div class="button-group__button  button-group__button--plain">
								{{widget('button', 'about-cause--col2-button', {
									'text': 'Play now',
									'action': 'internal',
									'url': '/play'
								})|raw}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col  col--third">
				<div class="card">
					<div class="card__image">
						{{widget('image', 'about-cause-image1', {
							'src': asset('images/content-image4.jpg')
						})|raw}}
					</div>
					<div class="card__text">
						{{widget('content', 'about-cause-col3-text', { content: '
							<h4>Heading title</h4>
							<p>Apibus aliquam arcus lorum. Duis sodales ipsum eget turpis rutrum, nec efficitur quam. Nullam egestas.</p>
						'})|raw}}
						<div class="button-group">
							<div class="button-group__button  button-group__button--plain">
								{{widget('button', 'about-cause--col3-button', {
									'text': 'Play now',
									'action': 'internal',
									'url': '/play'
								})|raw}}
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>