<!-- Section: About Game 1 -->
<div class="section  section--lightest  section__about-game  section__about-game--1">
	<div class="container">


		<!-- Section Title: Normal -->
		<div class="section-title  section-title--center">
			{{widget('content', 'about-game1-title', { content: '
				<h2>Incredible weekly prizes</h2>
				<h6>Prizes up for grabs every Saturday.</h6>
			'})|raw}}
		</div>


		<!-- Winning Prizes -->
		<div class="winning-prizes">
			<div class="row  row--gutters  row--flex-col">
				<div class="col  col--third">
					<div class="card  card--align-center  card--winner">
						<div class="card__text">
							<div class="sub-title  card__sub-title">
								{{widget('content', 'about-game1-col1-prize', { content: '
									<h5>Winning prize</h5>
								'})|raw}}
							</div>
							{{widget('content', 'about-game1-col1-text', { content: '
								<h4>Match all 6 numbers</h4>
								<h6>To win £25,000</h6>
							'})|raw}}
							<div class="button-group">
								<div class="button-group__button  button-group__button--winner">
									{{widget('button', 'about-game1--col1-button', {
										'text': 'Play now',
										'action': 'internal',
										'url': '/play'
									})|raw}}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col  col--third">
					<div class="card  card--align-center">
						<div class="card__text">
							<div class="sub-title  card__sub-title">
								{{widget('content', 'about-game1-col2-prize', { content: '
									<h5>2nd prize</h5>
								'})|raw}}
							</div>
							{{widget('content', 'about-game1-col2-text', { content: '
								<h4>Match first or last 5 numbers</h4>
								<h6>To win £1,000</h6>
							'})|raw}}
							<div class="button-group">
								<div class="button-group__button">
									{{widget('button', 'about-game1--col2-button', {
										'text': 'Play now',
										'action': 'internal',
										'url': '/play'
									})|raw}}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col  col--third">
					<div class="card  card--align-center">
						<div class="card__text">
							<div class="sub-title  card__sub-title">
								{{widget('content', 'about-game1-col3-prize', { content: '
									<h5>3rd prize</h5>
								'})|raw}}
							</div>
							{{widget('content', 'about-game1-col3-text', { content: '
								<h4>Match first or last 4 numbers</h4>
								<h6>To win £100</h6>
							'})|raw}}
							<div class="button-group">
								<div class="button-group__button">
									{{widget('button', 'about-game1--col3-button', {
										'text': 'Play now',
										'action': 'internal',
										'url': '/play'
									})|raw}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- Additional Text -->
		<div class="additional-text  additional-text--center">
			<div class="sub-title  additional-text__sub-title">
				{{widget('content', 'about-game1-info-subtitle', { content: '
					<h5>Additional prizes</h5>
				'})|raw}}
			</div>
			{{widget('content', 'about-game1-info-text', { content: '
				<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ipsum neque, tempor at tincidunt eget, sollicitudin nec enim. Morbi eget nulla tempus.</h6>
			'})|raw}}
			<div class="button-group">
				<div class="button-group__button  button-group__button--outline">
					{{widget('button', 'about-game1-info-button', {
						'text': 'Play now',
						'action': 'internal',
						'url': '/play'
					})|raw}}
				</div>
			</div>
		</div>


	</div>
</div>