<!-- Section: About Cause 3 -->
<div class="section  section__about-cause  section__about-cause--3">
	<div class="container">
		<div class="row  row--gutters  row--aic  row--2col">

			<div class="col  col--two-thirds  col--mw700">
				{{widget('content', 'about-cause3-text1', { content: '
					<h2>About our cause</h2>
					<p>Vestibulum nec sapien et ipsum imperdiet rhoncus. Nullam egestas ultricies vehicula. Pellentesque lobortis blandit nibh, vel interdum ipsum blandit consequat. Vestibulum nec sapien et ipsum imperdiet rhoncus.</p>
				'})|raw}}
				<div class="button-group  button-group--dual">
					<div class="button-group__button">
						{{widget('button', 'about-cause3-button1', {
							'text': 'Play now',
							'action': 'internal',
							'url': '/play'
						})|raw}}
					</div>
					<div class="button-group__button  button-group__button--outline">
						{{widget('button', 'about-cause3-button2', {
							'text': 'Tell a friend',
							'action': 'internal',
							'url': '/'
						})|raw}}
					</div>
				</div>
			</div>
			<div class="col  col--third">
				<div class="card">
					<div class="card__image">
						{{widget('image', 'about-cause3-image1', {
							'src': asset('images/content-image1.jpg')
						})|raw}}
					</div>
					<div class="card__text">
						{{widget('content', 'about-cause3-text2', { content: '
							<h4>More information</h4>
							<p>Apibus aliquam arcus lorum. Duis sodales ipsum eget turpis rutrum, nec efficitur quam. Nullam egestas ultricies vehicula. Pellentesque lobortis.</p>
						'})|raw}}
					</div>
				</div>
			</div>

		</div>
	</div>
</div>